.cls-select-field{
    width: 140px;
    min-width: auto;
}
.cls-input-field, .cls-date-field{
    width: 120px;
}
.cls-dateRange-field{
    width: 220px;
}
.cls-customFilter{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    .cls-filters-cond{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-items: end;
        .cls-label{
            margin-bottom: 4px;
            font-size: $FONT-12;
            font-weight: 500;
            padding-left: 5px;
            text-transform: capitalize;
        }
    }
}
.cls-field{
  position: relative;
  .cls-error-msg {
    position: absolute;
    top: 100%;
    left: 4px;
    color: red;
    font-family: var(--font-regular);
    font-size: 11px;
  }
}