.cls-profile-modal{
    font-size: 18px;
    font-weight: 600;
    border-left: 4px solid #4f46e5;
    padding-left: 12px;
    .cls-profileForm{
        margin-top: 20px;
        .cls-label-name{
            font-weight: 500;
        }
    }
}